@keyframes bg-first {
  0% {
    height: 100%;
    width: 0;
    right: 0;
    top: 0;
  }

  100% {
    height: 100%;
    width: 47%;
    right: 0;
    top: 0;
  }
}

@keyframes bg-first2 {
  0% {
    height: 100%;
    width: 47%;
    right: 0;
    top: 0;
    border-radius: 0 0 0 32vw;
  }

  50% {
    border-radius: 0 0 0 150vw;
  }

  70% {
    border-radius: 0 0 0 100vw;
  }

  100% {
    height: 120%;
    width: 120%;
    right: 0;
    top: 0;
    border-radius: 0;
  }
}


@media (min-width: 320px) and (max-width: 575px) {
  @keyframes bg-first {
    0% {
      height: 0;
      width: 0;
      right: 0;
      top: 0;
    }

    100% {
      height: 40%;
      width: 100%;
      right: 0;
      top: 0;
    }
  }

  @keyframes bg-first2 {
    0% {
      height: 100%;
      width: 100%;
      right: 0;
      top: 0;
      border-radius: 0;
    }

    50% {
      border-radius: 0;
    }

    70% {
      border-radius: 0;
    }

    100% {
      height: 120%;
      width: 120%;
      right: 0;
      top: 0;
      border-radius: 0;
    }
  }


}
