.nav-buttons {
  display: flex;
  grid-gap: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 1200px;
  width: 100%;
  padding: 0 10px;
  transform: translateY(-50%) translateX(-50%);

  &__button {
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $text--c;
    transition: all .4s;

    &.active {
      font-weight: 600;
      font-size: 18px;
    }
  }
}

.header-buttons {
  display: flex;
  align-items: center;
  grid-gap: 3vw;
}

.login-link {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 14px;
  font-family: $font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $text--w;
  transition:  .4s;

  svg {
    fill: currentColor;
  }
}

.download-link {
  width: 178px;
  height: 54px;
  background: $color--c;
  border-radius: 60px;
  color: $text--w;
  font-family: $font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  transition: all .4s;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  @include btn;

  span {
    transition: all .4s;
    position: relative;

    &::before {
      content: 'скачать';
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translate(100%, -50%);
    }
  }
}

.fixed {
  .download-link {
    pointer-events: initial;
    opacity: 1;
  }

  .login-link {
    color: $text--c;
    transition: all .4s;
  }
}

.download-link:hover {
  background: $color--c;


  span {
    transform: translateX(-200%);
    position: relative;
  }

}

.download-link:active {
  background: $color--f;
}

