.activeAnimate {
  .first-sec {
    &::before {
      animation: bg-first-rev .5s;
      width: 46%;
      height: 100%;
      border-radius: 0 0 0 42vw;
      background: $bg--c;
      transition: all .9s;
    }

    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 0;
      right: 0;
      top: 0;
      background: $bg--c;
      border-radius: 0 0 0 42vw;
      animation: bg-first-rev2 .7s;
      z-index: -1;
    }
  }
}

.first-sec {
  // padding-bottom: 155px;
  // padding-top: 254px;
  padding-top: 50px;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 46%;
    right: 0;
    top: 0;
    background: $bg--c;
    border-radius: 0 0 0 80%;
    animation: bg-first 1s;
    z-index: -1;
  }

  &--doc {
    &::before {
      animation: bg-first2 .5s;
      width: 120%;
      height: 120%;
      border-radius: 0;
      background: $bg--f;
    }

    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 46%;
      right: 0;
      top: 0;
      background: $bg--c;
      border-radius: 0 0 0 42vw;
      animation: bg-first .7s;
      z-index: -1;
    }
  }

  &__box {
    // max-width: 57%;
    width: 100%;
  }

  &__title {
    margin-bottom: 60px;
    font-family: $font-family;
    font-style: normal;
    font-weight: bold;
    color: $text--e;
  }

  &__list {
    display: grid;
    grid-gap: 30px;
    margin-bottom: 60px;

    li {
      padding-left: 30px;
      position: relative;
      max-width: 460px;
      font-size: Min(5vw ,18px);
      line-height: Min(5.938vw,22px);
      font-family: $font-family;
      font-style: normal;
      font-weight: 500;
      color: $text--e;

      &::before {
        @include before;
        width: 10px;
        height: 10px;
        background: $bg--c;
        border-radius: 3px;
        left: 6px;
        top: 50%;
        transform: rotate(-45deg) translateY(-65%);
      }
    }
  }

  &__partners {
    display: flex;
    align-items: center;
    grid-gap: 30px;
    margin-bottom: 45px;

    svg {
      fill: $color--d;
    }
  }

  &__image {
    position: absolute;
    bottom: -30%;
    right: -13%;
    width: 77%;
  }
}


.first-sec__image img {
  animation: opacity-image 2s;
  // transition: all .2s;
}
