.title-1 {
  font-size: Min( 7.500vw,34px);
  line-height: Min(9.063vw,41px);
}

.title-2 {
  font-size: Min(6.250vw,24px);
  line-height: Min(7.813vw,30px);
}

.title-3 {
  font-size: Min( 5vw,18px);
  line-height: Min(6.250vw,22px);
}

.title-4 {
  font-size: Min(4.375vw,16px);
  line-height: Min(5.313vw,20px);
}
